.header{
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.482),rgba(0, 0, 0, 0.532)),
    url(https://images.pexels.com/photos/3184357/pexels-photo-3184357.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    height: 90vh;
}
.list-btn{
    border: 1px solid black;
     border-radius:20px ;
}

.home-campus{
    font-size: 50px;
    padding: 20px;
}
.contact-bg-img{
    background-image: url(https://img.freepik.com/premium-photo/abstract-background-molecules-technology-with-polygonal-shapes-connecting-dots-lines-connection-structure-big-data-visualization_7247-3244.jpg?size=626&ext=jpg&ga=GA1.1.913293683.1703873181&semt=ais);
    background-size: cover;
    height:90vh;
}
.jobpost-bg-img{
    background-image: url();
    background-size: cover;
    height:100vh;
}
.employe-login-bg-img{
    background-image: url(https://img.freepik.com/premium-photo/blue-modern-futuristic-technology-background-16_769134-472.jpg?w=1060);
    background-size: cover;
    height:100vh;
}
.company-login-bg-img{
    background-image: url(https://img.freepik.com/premium-photo/navy-blue-lines-abstract-background-with-free-space-blue-copy-space-digital-background_551880-383.jpg?size=626&ext=jpg&ga=GA1.1.913293683.1703873181&semt=ais);
    background-size: cover;
    height:90vh;
}
.employe-signup-bg-img{
    background-image: url(https://img.freepik.com/free-photo/3d-illustration-standing-woman-3d-render-design_460848-7433.jpg?size=626&ext=jpg&ga=GA1.1.913293683.1703873181&semt=ais);
    background-size: cover;
    height:100vh;
   
}
.company-signup-bg-img{
    background-image: url(https://img.freepik.com/free-photo/dark-geometric-background-with-copy-space_24972-1816.jpg?size=626&ext=jpg&ga=GA1.1.913293683.1703873181&semt=ais);
    background-size: cover;
    height:90vh;
}
 .home-card{
    transition: 2s;
}
.home-card:hover{
    transform: scale(0.8);
}

.brand-icon{
    width: 200px;
}
.company-name{
    width: 150px;
}

.apply-bg-img{
    background-image: url(https://img.freepik.com/free-vector/blue-copy-space-digital-background_23-2148821698.jpg?size=626&ext=jpg&ga=GA1.1.913293683.1703873181&semt=sph);
    background-size: cover;
    height:90vh;
}
.jobpost-bg-img{
    background-image: url(https://img.freepik.com/free-photo/mint-green-acrylic-texture-background_53876-101907.jpg?size=626&ext=jpg&ga=GA1.1.913293683.1703873181&semt=ais);
    background-size: cover;
    height:170vh;
}
.post-img{
    margin-top: 200px;
}
.company-login{
    margin-left: 300px;
}